.button {
    background-color: rgb(97, 218, 251);
    color: rgb(40, 44, 52);
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    cursor: center;
    min-width: 100px;
    margin-left: 630px;
  }